# Build Artifacts.
batchkit.egg-info/
batchkit_examples.egg-info/
batchkit_examples_speechsdk.egg-info/
build/
dist/

# PyCache (IDE associated)
batchkit/__pycache__/
batchkit_examples/__pycache__/
batchkit_examples/speech_sdk/__pycache__/
batchkit_examples/speech_sdk/lang_id/__pycache__/
batchkit_examples/speech_sdk/lang_id/proto/__pycache__/
tests/__pycache__/
venv/

# PyCharm associated
.idea/
/.vs
