# Combined requirements.txt file for build-time, batchkit, and batchkit_examples.
# Install these requirements into your python environment during development.
# Sections are selectively picked up during packaging.

### build-time
setuptools~=46.0.0

### batchkit
requests>=2.23.0
Cerberus>=1.3.2
deepdiff>=4.0.9
PyYAML>=5.1.2
pyinotify~=0.9.6 ; sys_platform != 'win32'
mock>=4.0.1
Flask==1.1.1
jsonpickle>=1.3
requests>=2.23.0
psutil>=5.7.0
pygobject~=3.26.1

### examples

# Needed only for stress tests and batchkit_examples/speech_sdk:
# NOTE: Speech SDK v1.11.0 has a bug during broken session reconnection with SRFrontEnd; blacklisted
azure-cognitiveservices-speech==1.10.0
